body {
  background-color: rgb(49,111,126);
  margin: 0;
  color: #a8c6cc;
  background: url(https://ymh-picture.pages.dev/list/PixPin_2024-08-11_16-30-36.webp)
}
#app {
  display: flex;
}
#interactivity {
  margin-left: 20px;
  margin-right: 15%;
  margin-top: 10px;
  color: rgb(135,159,166);
  border: 1px solid rgb(60, 67, 73);
  background-color: rgba(28, 30, 35, 0.301);
}
#interactivity #title {
  color: rgb(98,244,248);
}
#interactivity #user{
  color: rgb(206,248,255);
}