* {
  cursor: url(/assets/cursor.png), auto;
}
body {
  background-color: rgb(18, 20, 22) !important;
  margin: 0;
  color: #a8c6cc;
  background: url(/PixPin_2024-08-11_16-30-36.webp) no-repeat center center
    fixed;
  background-size: cover;
}
#app {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
}
#interactivity {
  margin-left: 10px;
  margin-right: 15%;
  margin-bottom: 15px;
  color: rgb(135, 159, 166);
  border: 1px solid rgb(60, 67, 73);
  background-color: rgba(8, 9, 10, 0.363);
  width: 100%;
  padding: 10px 15px;
  backdrop-filter: blur(10px) saturate(150%);
}
#interactivity #title {
  color: rgb(98, 244, 248);
}
#interactivity #user {
  color: rgb(206, 248, 255);
}
#main {
  margin-left: 20px;
  margin-top: 60px;
  flex: 1;
  width: 100%;
}

#menuleft {
  margin-right: 10%;
  margin-top: 25%;
  flex: 1;
  color: rgb(135, 159, 166);
  border: 1px solid rgb(60, 67, 73);
  background-color: rgba(8, 9, 10, 0.363);
  width: 100%;
  padding: 5px 5px;
  padding-top: 10px;
  width: 200px;
}
#menuleft img {
  border-radius: 50%;
  height: 50px;
  border: 2px solid rgb(231, 219, 181);
  background-color: #ddd;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
#menuleft h1 {
  text-align: center;
}
a {
  text-decoration: none;
  color: rgb(206, 248, 255);
}
#left-menu {
  position: fixed;
}

.loader {
  width: 50px;
  border-width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid rgb(49, 111, 126);
  border-right-color: rgb(98, 244, 248);
  animation: l2 0.75s infinite linear;
}

#button-1 button {
  margin-top: 20px;
  width: 100%;
  background-color: rgba(8, 9, 10, 0.363);
  color: rgb(131, 154, 159);
  backdrop-filter: blur(10px) saturate(150%);
  border: 1px solid rgb(60, 67, 73);
  padding: 5px 5px;
  padding-left: 10px;
  font-size: 1.3em;
  text-align: left;
}

#button-1 button:hover {
  border: 1px solid rgb(74, 192, 210);
  color: rgb(204, 241, 247);
}
@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}

@media (max-width: 780px) {
  #app {
    margin-left: 25px;
  }
}
@media (max-width: 980px) {
  #app {
    margin-left: 5px;
  }
  #main {
    margin-top: 10px;
  }
}
